# Python
############
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/
htmlcov/
.coverage

# Virtual Environment
#####################
venv/
.venv/
env/
.env/
venvs/
.Python/
# This line is crucial for your specific setup:
venv_tf/

# IDEs and Editors
##################
.vscode/   # VS Code settings
.idea/     # PyCharm settings
*.sublime-project
*.sublime-workspace

# Operating System Files
########################
.DS_Store   # macOS
Thumbs.db   # Windows
ehthumbs.db # Windows
.localized  # macOS

# Build/Distribution
####################
dist/
build/
*.egg
